.heading {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.help-img {
  margin: auto;
  width: 70%;
}
.img-thumbnail {
  transition: 0.3s;
}
.img-thumbnail:hover {
  border: 1px solid red;
  margin-top: -10px;
  margin-bottom: 10px;
}
.help-text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 10px;
}

.help-content .help-img {
  max-width: 47%;
}
@media (max-width: 991px) {
  .help-img {
    width: 90%;
  }
  .help-content .help-img {
    max-width: 60%;
  }
}
@media (max-width: 768px) {
  .help-content .help-img {
    max-width: 90%;
  }
  .heading {
    font-size: 20px;
  }
  .help-text {
    height: 100%;
    margin-bottom: 16px;
  }
  .help-text:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .help-text {
    min-height: 110px;
  }
}