{% extends "base.html" %}

{% block styles %}
  <!--<link href="/static/css/roboto.min.css?1" rel="stylesheet"> 
  <link href="/static/css/bootstrap.min.css?1" rel="stylesheet">-->
  <link href="/static/css/help.min.css?10" rel="stylesheet">
  <!--<link href="/static/css/base.css?3" rel="stylesheet">-->
{% endblock %}

{% block content %}
<div class="container">
  <p class="heading">Чаму бот?</p>
  <p class="answer-text">Гэты бот — наглядны эксперымент, які паказвае, што ў чат-бота можна інтэграваць функцыянал, параўнальны з звычайнымі аплетамі</p>
  <p class="heading">Чаму ўсё па-беларуску?</p>
  <p class="answer-text"><a href="https://t.me/vkozlovsk">Я</a> так захацеў. І гэта не абмяркоўваецца</p>
  <p class="heading">Будзем лічыць, што зразумела. А чаму тады назвы фільмаў, кінатэатраў, гарадоў па-расейску?</p>
  <p class="answer-text">Дадзеныя, атрыманныя ад ByCard, на расейскай мове. З гэтым нічога не зробіш :(</p>
  <p class="heading">Вы дамаўляліся з кінатэатрамі аб супрацоўніцтве?</p>
  <p class="answer-text">Не. Бот працуе з дадзенымі з ByCard. А гэта і ёсць кінатэатры, сеансы, фільмы і іншае</p>
  <p class="heading">%горад_нэйм% адсутнічае</p>
  <p class="answer-text">Ведаю. Зараз ByCard даступны ў 25 гарадах Беларусі. Пашырэнне дзеяння бота залежыць толькі ад сэрвіса. Калі ByCard з'явіцца ў новым горадзе, то ён таксама будзе даступны ў боце</p>
  <p class="heading">Якая інфармацыя захоўваецца?</p>
  <p class="answer-text">З акаўнта ByCard бот захоўвае толькі токен для кіравання акаўнта, таму пароль патрэбны толькі адзін раз. З дапамогай токена, бот выконвае запыты да сервера ByCard ад Вашай асобы. Пры змене пароля на сайце ByCard Вам будзе патрэбна аўтарызавацца ў боце з новым паролем</p>
  <p class="heading">Ёсць дадатковыя камісіі?</p>
  <p class="answer-text">Ёсць толькі камісія ByCard, ад бота няма дадатковых камісій. Cтварэнне дадзеных для спасылкі на форму аплаты адбываецца на сервере ByCard і яе немагчыма змяніць. Памеры камісій ByCard <a href="https://bycard.by/info/howtobuy">тут</a></p>
  <p class="heading">Як бот правярае аплату?</p>
  <p class="answer-text">Ніяк. Сур'ёзна. Пры паспяховай аплаце дадзеныя аб паспехе адпраўляюцца да ByCard і там апрацоўваюцца, а бот толькі правярае наяўнасць квіткоў у Вас сярод набытых</p>
  <p class="heading">Як набыць квіткі?</p>
  <div class="row">
    <div class="col-md-4">
      <div>
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/1.jpg" alt="">
        </div>
        <div class="help-text">
          <p>Адчыніце галоўнае меню камандай /start</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/2.jpg" alt="">
        </div>
        <div class="help-text">
          <p>Націсніце на "Пошук па афішы". У вас з'явіцца вынік пошуку па ўсіх фільмах. Таксама можна напісаць тэкст для пошуку. Абярыце патрэбны фільм</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/3.jpg" alt="">
        </div>
        <div class="help-text">
          <p>Бот дашле вам артыкул пра фільм ў Telegra.ph</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div>
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/4.jpg" alt="">
        </div>
        <div class="help-text">
          <p>А вось сам артыкул</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/5.jpg" alt="">
        </div>
        <div class="help-text">
          <p>Пасля націску на "Набыць квіткі", бот прапануе вам даты ў якіх ёсць сеансы</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/6.jpg" alt="">
        </div>
        <div class="help-text">
          <p>Абіраем кінатэатр</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div>
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/7.jpg" alt="">
        </div>
        <div class="help-text">
          <p>Абіраем час сеансу</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/8.jpg" alt="">
        </div>
        <div class="help-text">
          <p>Бот дашле вам схему залы на фотаздымку і з гэтага моманта ў вас будзе 10 хвілін, каб абраць месцы</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/9.jpg" alt="">
        </div>
        <div class="help-text">
          <p>Пры выбары месца спачатку абіраем шэраг</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div >
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/10.jpg" alt="">
        </div>
        <div class="help-text">
          <p>А потым месца</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/11.jpg" alt="">
        </div>
        <div class="help-text">
          <p>Вось так выглядае меню выбара месцаў, калі нешта абрана</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div >
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/12.jpg" alt="">
        </div>
        <div class="help-text">
          <p>Вызваліць месцы яшчэ прасцей</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="help-content">
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/13.jpg" alt="">
        </div>
        <div class="help-text">
          <p>Пасля націску на "Аплаціць" у вас будзе 15 хвілін для аплаты. Праверыць аплату, або адмяніць замову можна кнопкамі ніжэй</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="help-content">
        <div class="help-img">
          <img class="img-thumbnail" src="static/img/help/14.jpg" alt="">
        </div>
        <div class="help-text">
          <p>Вось такі квіток вы атрымаеце пры пасяховай аплаце. У кінатэатры дастаткова падыйсці да інфакіёску ByCard і надрукаваць квіток</p>
        </div>
      </div>
    </div>
  </div>
  <p class="heading">Гэтая старонка яшчэ будзе дапаўняцца. Па пытаннях звяртайцеся да <a href="https://t.me/vkozlovsk">распрацоўшчыка бота</a></p>
</div>
{% endblock %}